$generalWidth: 1170px;
$firstColor: black;
$secondColor: orange;

body {
  font-family: "Open Sans", sans-serif;
  margin:0;
}
a {
  text-decoration: none;
  color: black;
  transition: all .4s;
  &:hover {
    color: $secondColor;
  }
}
section {
  .wrapper {
    width: $generalWidth;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
}
