---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spezia.dev - Chi siamo" page="chisiamo">
  <div class="wrapper">
    <h1>Chi siamo</h1>
    <p>
      Spezia.dev è un punto di incontro per tutti gli sviluppatori dello
      spezzino e dintorni. Che tu sia un professionista o un simpatizzante, che
      tu sia un devops, un webdev, un minchiops non importa, Spezia.dev è qui
      anche per te.
    </p>
    <h2>La storia</h2>
    <p>
      Tutto nasce da alcuni sviluppatori della zona che vedono i meravigliosi
      eventi che ci sono al di fuori della provincia spezzina. Si guardano un
      po' intorno e vedono la "desolazione del nulla". Decidono allora di
      mettere insieme le idee e di provare a creare qualcosa. Nasce così
      Spezia.dev.
    </p>
    <h2>La Mission</h2>
    <p>
      Lo scopo ultimo di Spezia.dev è quello di creare un movimento di persone e
      idee per unire tutti coloro che scrivono codice e mettono mano a sistemi
      hardware e software, dai semplici nerd ai professionisti del settore. Qui
      si condividono idee, esperienze, il sito stesso è sotto licenza MIT. Qui
      troverai i "salotti digitali" su cui incontrare altre persone, ma anche un
      calendario di eventi più o meno vicini che ti possano interessare, magari
      organizzando con altre persone il ritrovo e/o la trasferta. Non appena i
      tempi saranno maturi l'idea è di organizzare eventi sul territorio per
      portare persone, idee e conoscenza anche qui.
    </p>
    <h2>Dove trovarci</h2>
    <p>
      Al momento è attivo il gruppo Facebook, un semplice esperimento da cui
      partire, e il gruppo Telegram. Siamo però ancora in via di definizione di
      eventuali altri canali e popossibilità.
    </p>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    max-width: 1170px;
    margin: 0 auto;
  }
</style>
