---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Come contribuire - Spezia.dev" page="contribuire">
  <h1>Come contribuire</h1>
  <p>
    Spezia.dev è prima di tutto un progetto collettivo e con filosofia open.
    Essendo tutto basato sul volontariato è completamente aperto alle
    contribuzioni di chi ha voglia di aiutare in qualsiasi modo. Qui troverai un
    elenco non esaustivo di come contribuire. Non esaustivo perchè ci potrebbero
    cose che non sono elencate qui, ma sono comunque utili al progetto.
  </p>
  <h2>Idee</h2>
  <p>
    Al momento la cosa più importante che serve sono le idee. Il progetto è
    molto giovane, in pratica poco più di uno "starter pack", ogni idea,
    suggerimento, critica, proposta è più che benvenuta. Puoi portarla
    direttamente sul gruppo Telegram, sul gruppo Facebook o inviarci una mail
    dal form di contatti su questo sito.
  </p>
  <h2>Sito internet</h2>
  <p>
    Questo sito vuole essere la facciata del collettivo. Ogni aiuto è più che
    benvenuto, che si una issue, una pull request o qualsiasi cosa, dal codice
    alla grafica. Potete anche segnalare eventi, anche aggiungendoli al json
    tramite PR. Il sito è sviluppato con Astro, ma al momento non ci sono grandi
    complicazioni e viene usata la base o poco più. Potrebbe essere anche un
    buon esercizio se volete approcciarvi alla programmazione web e/o a questo
    framework. Trovate il codice completo su <a
      href="https://github.com/ziriuz84/speziadev"
      target="_blank">Github</a
    >
  </p>
</Layout>
