---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contatti - Spezia.dev" page="contacts">
  <main>
    <h1>Contattaci</h1>
    <p>Compila il form sottostante per contattarci</p>
    <form action="" name="contacts">
      <input type="text" name="name" id="">
      <input type="email" name="email" id="">
      <textarea name="message" id="" cols="30" rows="10"></textarea>
      <button type="submit">Invia</button>
    </form>
  </main>
</Layout>
