---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BannerEvents from '../components/BannerEvents.astro';
---

<Layout title="Spezia Dev Community" page="home">
  <main>
    <Hero />
    <BannerEvents />
	</main>
</Layout>

<style>
</style>
