---
import EventCard from "./EventCard.astro";

const calendarJSON = await fetch("http://localhost:3000/data/events.json").then(
  (r) => r.json()
);
---

<section class="bannerEvent">
  <div class="wrapper">
    <h2>I prossimi eventi in zona</h2>
    <p>
      Qui troverai tutti i prossimi eventi in zona e/o facilmente raggiungibili.
    </p>
    {calendarJSON.map((item) => <EventCard home event={item} />)}
  </div>
</section>
<style lang="scss">
  @use "../styles/global.scss" as *;
  .bannerEvent {
    .wrapper {
      max-width: $generalWidth;
    }
  }
</style>
