---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="logo"></div>
  <Navigation />
</header>

<style lang="scss">
  @use '../style/global.scss' as *;
    header {
      background-color: white;
      display: flex;
      width: 100%;
      .wrapper{

      }
    }
</style>
