---
---

<section class="hero">
  <div class="wrapper">
    <h1>Dev Spezzini e dintorni: unitevi!</h1>
    <h2>
      Benvenuti nel luogo d'incontro degli sviluppatori, amministratori di
      sistema professionisti o meno dello Spezzino e dintorni
    </h2>
    <a href="" class="facebook-button">Iscriviti al gruppo Facebook</a>
  </div>
</section>
<style lang="scss">
  @use "../styles/global.scss" as *;
  .hero {
    margin-top: 30px;
    .wrapper {
      background: white;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      h1,
      h2,
      a {
        text-align: center;
      }
      a {
        background-color: $secondColor;
        padding: 0.5rem 1rem;
        border: 1px solid $secondColor;
        border-radius: 6px;
        color: white;
        transition: all 0.4s;
        &:hover {
          background-color: white;
          color: $secondColor;
        }
      }
    }
  }
</style>
