---
---

<section class="hero">
  <h1>Dev Spezzini e dintorni: unitevi!</h1>
  <h2>Benvenuti nel luogo d'incontro degli sviluppatori, amministratori di sistema professionisti o meno dello Spezzino e dintorni</h2>
  <a href="" class="facebook-button">Iscriviti al gruppo Facebook</a>
</section>

