---
import Head from './Head.astro';
export interface Props {
  title: string;
  page: string;
}

const { title, page = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} page={page} />
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
