---
import Head from './Head.astro';
import Header from '../components/Header.astro';
export interface Props {
  title: string;
  page: string;
}

const { title, page = "" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} page={page} />
  <body>
    <Header />
    <slot />
  </body>
</html>
<style lang="scss" is:global>
@use '../styles/global.scss' as *;
body{
  background-color: #eee;
  width: 100%;
}
</style>
